.card {
    position: relative;
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
}

.card .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
    padding: 0 10px;
}

.title{
    font-size: 22px;
}

.card:hover .content {
    opacity: 1;
}

.card::before,
.card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
}

.card::before {
    top: 0;
    right: 0;
    border-radius: 0 0px 0 100%;
}

.card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

@media(width>=768px){
    .card {
        width: 48%;
        height: 470px;
    }
}

@media(width>=992px){
    .card {
        width: 24%;
        height: 320px;
    }
}

@media(width>=1200px){
    .card {
        height: 460px;
    }
}